{% extends "base.html" %}
{% load extra_filters %}
{% block content %}

<h3>Турнир "{{ tournament.name }}"</h3>

<table class="table">
    <thead>
    <tr>
        <th>Количество участников</th>
        <th>Количество призовых мест</th>
        <th>Количество туров</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr class="info">
        <td>{{ tournament.players.count }}</td>
        <td>{{ tournament.prizes_amount }}</td>
        <td>{{ tournament.tours_amount }}</td>
        {% if tournament.is_finished %}
        <td>Завершен</td>
        {% else %}
        <td>Не завершен</td>
        {% endif %}
    </tr>
    </tbody>
</table>

<H4>Результаты туров</H4>

<table class="table">
    <tr>
    {% for current_tour in tours_list %}
    <td>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Тур № {{ current_tour }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for tour, player_one, player_one_result, player_two, player_two_result in tournament_results %}
        {% if tour == current_tour %}
        <tr class="success">
            <td>{{ player_one }} vs {{ player_two }}</td>
            {% if player_one_result == -1 %}
            <td>--:--</td>
            {% else %}
            <td width="60px">{{ player_one_result }} : {{ player_two_result }}</td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </td>
    {% if forloop.counter|modulo:3 == 0 %}
        </tr>
    </table>
    <table class="table">
        <tr>
    {% endif %}
    {% endfor %}
    </tr>
</table>

{% if tournament.is_finished %}
<H4>Результаты турнира</H4>
{% else %}
<H4>Текущие результаты турнира</H4>
{% endif %}
<table class="table">
    <tr>
        <td>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Имя игрока</th>
                    <th>Набранные очки</th>
                    <th>Место</th>
                </tr>
                </thead>
                <tbody>
                {% for player_result in final_results_list %}
                <tr class="success">
                    {% for td_text in player_result %}
                    <td>{{ td_text }}</td>
                    {% endfor %}
                    <td>{{ forloop.counter }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>
{% endblock %}

